/* 
    Background from: https://codepen.io/juanbrujo/pen/DROaJx
    Modified by Squibs
*/

body,html {
    height:100%;
    margin: 0;
    font-family: OpenSans-Regular;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    max-width: 100vw;
    pointer-events: none;
    z-index: -1;
}

@keyframes animatedBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.background > div {
    width: 150%; 
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        #6e529d, 
        #8a52b7, 
        #b052c0, 
        #d97b93, 
        #e8887c,
        #f2aa4e,
        #88c64a, 
        #52b8c0,
        #6e529d, 
        #8a52b7
    );
    filter: brightness(0.80);
    background-size: 100% 900%;
}

.animateBackground {
    animation: animatedBackground 120s linear infinite;
}

.background > div > div{
  border: 1px solid rgba(255,255,255,.1);
  width: 10em;
  height: 10em;
  transform: rotate(45deg);
  margin: 2em;
  float: left;
  background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); 
}


/* Styles */
header {
    text-align: center;
    display: flex;
    justify-content: center;
}

header > * {
    margin: 10px;
}

.logos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logos > img {
    height: 50px;
    cursor: pointer;
}

.progressContainer {
    --height: 40px;
    height: var(--height);
    line-height: var(--height);
    background-color: #e0e0e0;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.progress, .failed {
    height: 100%;
    width: 0%;
    transition: width 0.5s ease-in-out;
}
.progress {
    background-color: #76c7c0;
}
.failed {
    background-color: #c76868;
}

.progressStats > div > * {
    display: inline;
}

.progressStats {
    display: flex;
    position: absolute;
    justify-content: space-around;
    height: inherit;
    width: 100%;
    border-radius: 100px;
    justify-content: center;
    vertical-align: middle;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.progressStats > div {
    --margin-lr: 20px;
    margin-left: var(--margin-lr) ;
    margin-right: var(--margin-lr) ;
}

.hidden, .hidden * {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
}

.hiddenOpacity {
    opacity: 0;
}

#form {
    display: flex;
    justify-content:  center;
    margin-top: 20px;
    flex-wrap: wrap;
}

#form > * {
    margin: 10px;
}

.dataContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#songDataForm:not(.hidden) {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
    padding: 20px;
    border-radius: 100px;
    margin: 20px
}
#songDataForm p {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.navButtons {
    display: flex;
    justify-content: space-around;
}


#songDataForm > * {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

#data p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.settings  * {
    margin: 3px;
}

.bgBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}  


.exportContainer {
    margin: 10px;
}


#songSelector {
    background-color: red;
    width: 40%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}

.albumDiv {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 2%;
    padding: 2%;
}

.albumDiv > * {
    display: inline;
}
.albumDiv:not([open]) > .songsDiv{
    display: none;
    height: 0;

}

.songDiv > * {
    display: inline;
    margin-left: 5%;
}
@font-face {
    font-family: OpenSans-Bold;
    src: url('../assets/font/OpenSans-Bold.ttf');
}
@font-face {
    font-family: OpenSans-Regular;
    src: url('../assets/font/OpenSans-Regular.ttf');
}